<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

   <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <clear/>

    <add name="ConnectionString" connectionString="Data Source=(local);Initial Catalog=db_finder230819;Persist Security Info=True;User ID=sa;Password=Admin098)(*" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=db_finder230819;Persist Security Info=True;User ID=sa;Password=Admin098)(*" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString" connectionString="server=(Local);database=db_finder230819;uid=sa;pwd=Admin098)(*;Max Pool Size=2000"/>-->
    <!--<add name="ConnectionString" connectionString="server=43.255.152.21;database=db_finder230819;uid=finder123;pwd=finder@123;Max Pool Size=2000"/>-->
  </connectionStrings>
  <system.web>
    <!-- <customErrors mode="Off"/>-->
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="/default.aspx">
      <error statusCode="404" redirect="page404.aspx"/>
    </customErrors>
 <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
    <pages clientIDMode="Static" enableSessionState="true" validateRequest="true" controlRenderingCompatibilityVersion="4.0"/>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" protection="All" timeout="45" requireSSL="false" enableCrossAppRedirects="false" slidingExpiration="true" loginUrl="/default.aspx"/>
    </authentication>
    <httpCookies httpOnlyCookies="true" requireSSL="false"/>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime.DurableInstancing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime,  Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="System.Threading.Tasks, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </assemblies>
    </compilation>
    <trust level="Full"/>
  </system.web>
</configuration>
